    <nav class="navbar navbar-expand border-bottom navbar-dark fixed-top bg-dark"  th:fragment="header" >
        <div class="container-fluid">
            <a class="navbar-brand" style="width: 254px" th:href="@{/dashboard}">Event Management System</a>
            <button class="toggler-btn" type="button">
                <i class="fa fa-solid fa-bars"></i>
            </button>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                    <div class="dropdown-menu dropright">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <form class="dropdown-item" th:action="@{/logout}" method="post">
                            <button type="submit" class="dropdown-item">Se déconnecter</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
