<div th:fragment="home_fragments">
<!-- Fragment-1 -->
<div class="row" th:fragment="fr_view1" style="background: lightcoral; height: 250px; margin: 10px">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>View-Framgment-1</span>
            </div>
            <div class="panel-body">
    <textarea rows="4" style="width: 100%">
     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an...
    </textarea>
                <div class="text-muted" th:text="${time}"></div>
            </div>
        </div>
    </div>
</div>
<!-- ./ -->
<!-- Fragment-2 -->
<div class="row" th:fragment="fr_view2" style="background: lightskyblue; height: 250px; margin: 10px">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>View-Framgment-2</span>
            </div>
            <div class="panel-body">
    <textarea rows="4" style="width: 100%">
     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an...
    </textarea>
                <div class="text-muted" th:text="${time}"></div>
            </div>
        </div>
    </div>
</div>
<!-- ./ -->
<!-- Fragment-3 -->
<div class="row" th:fragment="fr_view3" style="background: lightseagreen; height: 250px; margin: 10px">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>View-Framgment-3</span>
            </div>
            <div class="panel-body">
    <textarea rows="4" style="width: 100%">
     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an...
    </textarea>
                <div class="text-muted" th:text="${time}"></div>
            </div>
        </div>
    </div>
</div>
<!-- ./ -->
<!-- Fragment-4 -->
<div class="row" th:fragment="fr_view4" style="background: lightsalmon; height: 250px; margin: 10px">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>View-Framgment-4</span>
            </div>
            <div class="panel-body">
    <textarea rows="4" style="width: 100%">
     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an...
    </textarea>
                <div class="text-muted" th:text="${time}"></div>
            </div>
        </div>
    </div>
</div>
</div>