    <aside id="sidebar" class="fixed" th:fragment="sidebar">
        <div class="sidebar-logo">
            <a href="#">Event Manager System</a>
        </div>
        <ul class="sidebar-nav p-0">
            <li class="sidebar-header">
                <a href="#" class="link-header collapsed has-dropdown"
                   data-bs-toggle="collapse"
                   data-bs-target="#balance" aria-expanded="true"
                   aria-controls="#balance"
                >
                    Menu
                </a>
            </li>
            <li class="sidebar-item">
                <!--                <a href="#" class="sidebar-link collapsed has-dropdown"-->
                <!--                   data-bs-toggle="collapse"-->
                <!--                   data-bs-target="#requests" aria-expanded="true"-->
                <!--                   aria-controls="#requests"-->
                <!--                >-->
                <!--                    <i></i>-->
                <!--                    <span>Auth</span>-->
                <!--                </a>-->
                <ul id="balance" class="sidebar-dropdown list-unstyled collapse"
                    data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a th:href="@{'/dashboard?current'}" th:attr="onclick='onRedirect(\'current\')'"
                           class="sidebar-link">Sous Menu 1</a>
                    </li>
                    <li class="sidebar-item">
                        <a th:href="@{'/dashboard?preview'}" th:attr="onclick='onRedirect(\'preview\')'"
                           class="sidebar-link">Sous Menu 2</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-header">
                Tools & Components
            </li>
            <li class="sidebar-item">
                <a th:href="@{'/requests/list'}" class="sidebar-link">
                    <i></i>
                    <span>Tools</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a th:href="@{'/events/list'}" class="sidebar-link">
                    <i></i>
                    <span>Events</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a th:href="@{'/events/history/list'}" class="sidebar-link">
                    <i></i>
                    <span>Events (history)</span>
                </a>
            </li>
            <li class="sidebar-header">
                Tools & Components
            </li>
            <li class="sidebar-header">
                <a href="#" class="link-header collapsed has-dropdown"
                   data-bs-toggle="collapse"
                   data-bs-target="#requests" aria-expanded="true"
                   aria-controls="#requests"
                >
                    Requêtes
                </a>
            </li>
            <li class="sidebar-item">
<!--                <a href="#" class="sidebar-link collapsed has-dropdown"-->
<!--                   data-bs-toggle="collapse"-->
<!--                   data-bs-target="#requests" aria-expanded="true"-->
<!--                   aria-controls="#requests"-->
<!--                >-->
<!--                    <i></i>-->
<!--                    <span>Auth</span>-->
<!--                </a>-->
                <ul id="requests" class="sidebar-dropdown list-unstyled collapse"
                    data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Solde</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Adapter</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-header">
                Pages
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown"
                   data-bs-toggle="collapse"
                   data-bs-target="#auth" aria-expanded="true"
                   aria-controls="#auth"
                >
                    <i></i>
                    <span>Auth</span>
                </a>
                <ul id="auth" class="sidebar-dropdown list-unstyled collapse"
                data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Login</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Register</a>
                    </li>
                </ul>
           </li>
        </ul>
    </aside>
