<aside id="sidebar" class="fixed" th:fragment="sidebar" xmlns:sec="http://www.w3.org/1999/xhtml">
        <div class="sidebar-logo">
            <a href="#">Event Manager System</a>
        </div>
        <ul class="sidebar-nav p-0">
            <li class="sidebar-header">
                Event Management
            </li>
            <li class="sidebar-item">
                <a th:href="@{'/events/list'}" class="sidebar-link">
                    <i></i>
                    <span>Events</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a th:href="@{'/events/history/list'}" class="sidebar-link">
                    <i></i>
                    <span>Events (history)</span>
                </a>
            </li>
            <li sec:authorize="hasRole('ADIN')" class="sidebar-item">
                <a th:href="@{'/eventspot/list'}" class="sidebar-link">
                    <i></i>
                    <span>Events Spot</span>
                </a>
            </li>
            <li sec:authorize="hasRole('ADMIN')" class="sidebar-header">
                User Management
            </li>
            <li sec:authorize="hasRole('ADMIN')" class="sidebar-item">
                <a th:href="@{'/users/list'}" class="sidebar-link">
                    <i></i>
                    <span>User</span>
                </a>
            </li>
        </ul>
    </aside>
