<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main_layout.html}"
>
<head>
    <link rel="stylesheet" href="/css/event.css">
</head>

<body>
<div layout:fragment="content">
    <div class="eventForm">
            <form th:action="@{/events/save}" role="form" method="post" enctype="multipart/form-data" th:object="${eventDto}">
                <input type="hidden" th:field="*{eventId}" />
                        <label for="fservice">Event name</label>
                        <input type="text" id="fservice" name="service" th:field="*{eventName}" placeholder="Service">

                        <label for="lslug">Venue</label>
                        <input type="text" id="lslug" name="slug" th:field="*{eventVenue}" placeholder="Slug">
                        <label for="lslug">Venue</label>
                        <input type="file" name="image" accept="image/*" th:field="*{eventImage}" class="form-control-file">
                <input class="btn btn-primary" type="submit" value="Save" />
                <input class="btn-secondary btn-sm" type="button" value="Cancel" id="btnCancel1" />
            </form>
            </div>
</div>
</body>

