<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main_layout.html}"
>
<head>
    <link rel="stylesheet" href="/css/event.css">
</head>

<body>
<div layout:fragment="content">
    <div class="eventForm">
            <form th:action="@{/eventspot/save}" role="form" method="post" enctype="multipart/form-data" th:object="${eventSpotDto}">
                <input type="hidden" th:field="*{eventSpotId}" />
                <div class="input-event-field">
<!--                    <label for="eventname">Event</label>-->
                    <select id="eventname" name="eventname" th:field="*{eventId}" th:placeholder="Event">
                        <option th:each="event : *{listEventDto}"  th:value="${event.eventId}" th:text="${event.eventName}">
                        </option>
                    </select>
                </div>
                <div class="input-event-field">
<!--                        <label for="spotname">Event Spot name</label>-->
                        <input type="text" id="spotname" name="spotname" th:field="*{eventSpotName}" placeholder="Spot name" required />
                </div>
                <div class="input-event-field">
<!--                        <label for="capacity">Event Spot Capacity</label>-->
                        <input type="number" id="capacity" name="capacity" th:field="*{eventSpotCapacity}" placeholder="Spot capacity" />
                </div>
                <div class="input-event-field">
<!--                        <label for="image">Event Spot Image</label>-->
                        <input type="file" id="image" name="image" accept="image/*" th:field="*{eventSpotImage}" class="form-control-file">
                </div>
                <div class="btn-event-field">
                    <button type="submit" th:text="${eventSpotId != null} ? 'Edit' : 'New'"></button>
                    <button type="reset" value="Cancel" id="btnCancel1" th:text="Reset" ></button>
                </div>
            </form>
            </div>
</div>
</body>

