<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main_layout.html}"
>
<head>
    <link rel="stylesheet" href="/css/event.css">
</head>

<body>
<div layout:fragment="content">
    <div class="eventForm">
            <form th:action="@{/eventspot/save}" role="form" method="post" enctype="multipart/form-data" th:object="${eventSpotDto}">
                <input type="hidden" th:field="*{eventSpotId}" />
                        <label for="eventname"></label>
                        <select id="eventname" th:field="*{eventId}">
                            <option th:each="event : *{listEventDto}"  th:value="${event.eventId}" th:text="${event.eventName}">
                            </option>
                        </select>
                        <label for="spotname">Event Spot name</label>
                        <input type="text" id="spotname" name="service" th:field="*{eventSpotName}" placeholder="Spot name">

                        <label for="capacity">Event Spot Capacity</label>
                        <input type="text" id="capacity" name="capacity" th:field="*{eventSpotCapacity}" placeholder="Spot capacity">
                        <label for="image">Event Spot Image</label>
                        <input type="file" id="image" name="image" accept="image/*" th:field="*{eventSpotImage}" class="form-control-file">
                <input class="btn btn-primary" type="submit" value="Save" />
                <input class="btn-secondary btn-sm" type="button" value="Cancel" id="btnCancel1" />
            </form>
            </div>
</div>
</body>

