<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main_layout.html}"
>
<head>
    <link rel="stylesheet" href="/css/event.css">
</head>

<body>
<div layout:fragment="content">
    <div class="eventForm">
            <form th:action="@{/events/save}" role="form" method="post" enctype="multipart/form-data" th:object="${eventDto}">
                <input type="hidden" th:field="*{eventId}" />
                <div class="input-event-field">
                    <input type="text" id="fservice" name="service" th:field="*{eventName}" placeholder="Event Name" required>
                </div>
                <div class="input-event-field">
                    <input type="text" id="lslug" name="slug" th:field="*{eventVenue}" placeholder="Event Venue" required>
                </div>
                <div class="input-event-field">
                    <input type="number" min="1" id="capacity" name="slug" th:field="*{eventCapacity}" placeholder="Event Capacity" required>
                </div>
                <div class="input-event-field">
                    <textarea id="description" name="description" th:field="*{eventDescription}" placeholder="Event Description" required></textarea>
                </div>
                <div class="input-event-field">
                    <input type="file" name="image" accept="image/*" th:field="*{eventImage}" class="form-control-file">
                </div>
                <div class="btn-event-field">
                    <button type="submit" th:text="${eventId != null} ? 'Edit' : 'New'"></button>
                    <button type="reset" value="Cancel" id="btnCancel1" th:text="Reset" ></button>
                </div>
            </form>
            </div>
</div>
</body>

