a{
    text-decoration: none;
}

body { padding-top: 70px; }


.main{
    min-height: 100vh;
    margin-left: 264px;
    width: 100%;
    padding: 20px;
    overflow: hidden;
}
#sidebar{
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    /*background-color: #2a2929;*/
    display: flex;
    flex-direction: column;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    /*top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
#sidebar li{
    padding: 5px 5px 5px 20px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
#sidebar a{
    padding: 2px 2px 2px 15px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sidebar.collapsed{
    margin-left: -264px;
}

.toggler-btn{
    background-color: transparent;
    cursor: pointer;
    border: 0;
}
.toggler-btn i{
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

.navbar{
    padding: 1.15rem 1.5rem;
}

.sidebar-nav{
    flex: 1 1 auto;
}

.sidebar-logo{
    padding: 1.15rem 1.5rem;
    text-align: center;
}

.sidebar-logo a{
    color: #FFFFFF;
    font-weight: 800;
    font-size: 1.25rem;
}

.dropright{
    right:0;
    left: unset !important;
    /*left:0!important;*/
    /*right:0!important;*/
    /*position: absolute !important;
    top: 140% !important;
    left: -50px !important;
    z-index: 1000 !important;
    display: none !important;
    float: left !important;
    min-width: 10rem !important;
    padding: .5rem 0 !important;
    margin: .125rem 0 0 !important;
    font-size: 1rem !important;
    color: #212529 !important;
    text-align: left !important;
    list-style: none !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid rgba(0, 0, 0, .15) !important;
    border-radius: .25rem !important;*/
}

.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.flex-parent-element {
    display: flex;
    width: 50%;
}

.flex-child-element {
    flex: 1;
    border: 2px solid blueviolet;
    margin: 10px;
}

.flex-child-element:first-child {
    margin-right: 20px;
}

/*
input[type=text], select {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}*/
/*
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}*/
/*
input[type=submit]:hover {
    background-color: #45a049;
}*/

.mainform {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.form-container {
    display: flex;
    justify-content: center;
   /* align-items: center;*/
   /* min-height: 100vh; /* vh stands for viewport height */
}

.buttonBloc{
    display: flex;
    flex-direction: column;
}

.buttonItem{
   display: block;
    margin-left: auto;
    margin-right: 0;
}

.loginform {
   /* width: 50%; /* adjust this value to control the form's width */
}

.link-header{
    padding: unset !important;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/*input[type=submit] {*/
/*    background-color: #04AA6D;*/
/*    color: white;*/
/*    padding: 12px 20px;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*    float: right;*/
/*}*/

/*input[type=submit]:hover {*/
/*    background-color: #45a049;*/
/*}*/

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.periodicity{
    width: 10%;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
}