.form-popup{
    position: fixed;
    top:50%;
    left:50%;
    max-width: 540px;
    width: 100%;
    border: 2px solid gray;;
    transform: translate(-50%,-50%);
}

.form-popup .form-box{
    display: flex;
}

.form-box .form-details{
    max-width: 330px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.form-box h2{
    text-align: center;
    margin-bottom: 30px;
}

.form-box .form-content{
    width: 100%;
    padding: 35px;
}


form .input-field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}


form .input-field input{
    width: 100%;
    height: 100%;
    padding: 0 15px;
    font-size: 0.95rem;
    outline: none;
    border-radius: 3px;
    border: 1px solid #717171;
}

.input-field input:is(:focus, :valid){
       padding: 16px 15px 0;
}

.input-field input:focus{
    border-color: #00bcd4;
}

form .input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    color: #717171;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.2s ease;
}

form .input-field input:is(:focus, :valid) ~label
{
    color: #00bcd4;
    font-size: 0.75rem;  
    transform: translateY(-120%);
}

.form-box a{
    color: #00bcd4;
    text-decoration: none;
}


.form-box a:hoover{    
    text-decoration: underline;
}

form button{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 14px 0;
    border-radius: 3px;
    margin: 25px 0;
    color: #fff;
    cursor: pointer;
    background: #00bcd4;
    transition: 0.2s ease;
}

form button:hover{
    background: #0097a7;
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-toggle-icon i {
    font-size: 18px;
    line-height: 1;
    color: #333;
    transition: color 0.3s ease-in-out;
    margin-bottom: 20px;
}

.password-toggle-icon i:hover {
    color: #000;
}