body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

/*input[type=text], input[type=password] {*/
/*    width: 100%;*/
/*    padding: 12px 20px;*/
/*    margin: 8px 0;*/
/*    display: inline-block;*/
/*    border: 1px solid #ccc;*/
/*    box-sizing: border-box;*/
/*}*/

input:focus {
    outline: none;
}


button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}


span.psw {
    float: right;
    padding-top: 16px;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* vh stands for viewport height */
}

.loginform {
    width: 50%;
    max-width: 450px;
    padding: 20px;
    /* adjust this value to control the form's width */
}

.loginformBloc {
    /*padding: 10px;*/
    margin: 10px;
    /* adjust this value to control the form's width */
}
.loginformBloc input{
    width: 100%;
    margin: 10px;
}
.loginformBloc button{
    width: 100%;
    margin: 10px;
}

.buttonItem{
    display: block;
    margin-right: auto;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40% );
    max-width: 500px;
    max-height: 500px;
    background: white;
    border-radius: 2px;
}
.center h1 {
    text-align: center;
    padding: 0 0 2px 0;
    border-bottom: 1px solid silver;
}
.center form {
    padding: 0 60px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color:#adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
    content:'';
    position: absolute;
    top: 40px;
    left:0;
    width: 100%;
    height: 2px;
    background: #2691d9;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
}

.forgot{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.forgot:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background-color: #2691d9;
    border-radius: 15px;
    font-size: 16px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}